output   = "internal/models"
wipe     = true
no-tests = true
no-driver-templates = true
no-context = true

[psql]
  dbname    = "beepbeep3"
  host      = "0.0.0.0"
  port      = 5432
  user      = "beep"
  pass      = "beepbeep"
  schema    = "bb3"
  whitelist = [
      "ocpp_application",
      "ocpp_application_callback",
      "ocpp_application_api_key",
      "ocpp_charge_point",
      "ocpp_charge_point_id_tag",
      "ocpp_status_notification",
      "ocpp_transaction",
  ]

[[types]]
    [types.match]
        type = "types.JSON"

    [types.replace]
        type = "datatypes.JSON"

    [types.imports]
        third_party = ['"gorm.io/datatypes"']

[[types]]
    [types.match]
        type = "int"

    [types.replace]
        type = "int32"


[[types]]
    [types.match]
        type = "types.Decimal"

    [types.replace]
        type = "float64"
           
[imports.all]
    standard = []
    third_party = ['"github.com/Beep-Technologies/beepbeep3-iam/pkg/constants"']
